* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #96989b;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 0;
}

.title-logo{
  padding: 2rem;
}

.title-logo img{
  width: 100%;
}

main .soon {
  font-weight: 600;
  font-size: 2rem;
}

#footer {
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0 2rem 2rem 0;
  display: flex;
  justify-content: end;
}

#footer p {
  margin: 0;
}

#footer p span {
  font-size: 2.1rem;
}

@media (max-width: 1310px) {
  #footer {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 978px) {
  main .soon {
    font-size: 1.3em;
  }
}
